* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
body{
  overflow-x: hidden;
}

#loding{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #042104;
  animation: animateBg 10s linear infinite;
}
@keyframes animateBg{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
#loding .loader{
  position: relative;
  width: 120px;
  height: 120px;
}
#loding .loader span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}
#loding .loader span::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a,
              0 0 20px #00ff0a,
              0 0 40px #00ff0a,
              0 0 60px #00ff0a,
              0 0 80px #00ff0a,
              0 0 100px #00ff0a;
              animation: animate 2s linear infinite;
              animation-delay: calc(0.1s * var(--i));
}
@keyframes animate{
  0%{
    transform: scale(1);
  }
  80%,100%{
    transform: scale(0);
  }
}

html {
  scroll-behavior: smooth;
}


h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}



/* navbar */
.navbar {
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
}

.navbar::before {
  content: "";
  background: #291a1a;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 19px 39px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.nav-list li a:hover {
  color: #9a9797;
}

.logo {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.logo img {
  width: 7.5rem;
}


.box-main {
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  margin-top: 6rem;
}

.heading {
  color: rgb(234, 239, 243);
  font-size: 50px;
}

.firstsection {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
}

.firstsection::before {
  content: "";
  position: absolute;
  background-blend-mode: darken;
  background: url("/img/1.jpg") no-repeat center -150px / cover;
  height: 100vh;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.85;
}

.firstsection h1 {
  font-size: 4rem;
  text-align: center;
}
/*section card */
.section{
    transition: all 0.7s linear;
  }
  
  .section p {
    max-width: 60rem;
    font-size: 1.2rem;
  } 
  
  .section .grid {
    margin-top: 6rem;
    row-gap: 4rem;
  }
  .section .container h2{
    font-size: 3.2rem;
  }
  

.card {
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    border-radius: 5px;
    padding: 6.4rem 3.4rem;
    transition: all 0.2s linear;
  }

  .card:hover,
.card:active {
  transform: translateY(-1rem);
}


.card h3 {
    text-transform: capitalize;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: red;
  }

  .card p{
    font-size: 1rem;
    font-size: 1.2rem;
  }
  .card h4{
    font-size: 2rem;
  }

  .container {
    max-width: 140rem;
    margin: 0 auto;
  }

  .container h2{
    font-size: 2.5rem;
    text-align: center;
  }

  .container h5{
    font-size: 1.2rem;
    text-align: center;
    color: red;
  }

  .grid {
    display: grid;
    gap: 4rem;
  }

  .grid .card img{
    width: 4rem;
  }



  /* ===========section abut================ */
  .absection{
    max-width: 100%;
    margin: 3rem 2rem 25rem 2rem;
  }
  .absection .leftpara p{
    font-size: 1.4rem;
  }
  .absection .leftpara{
    max-width: 100%;
    text-align: center;
    padding-left: 4rem;
    margin-left: 3rem;
  }

  .absection .leftpara h1{
    font-size: 3.2rem;
    padding: 0 1.5rem 2.5rem 1.5rem;
  }
  .absection .leftpara h5{
    font-size: 1.2rem;
    color: red;
    padding: 3rem;
  }

  .absection .leftpara p{
    font-size: 1.3rem;
  }

  .absection .rightpara{
    max-width: 48%;
    display: grid;
    align-items: center;
    margin-left: 4rem;
    position: relative;
  }

  .absection .rightpara .rightimg {
    max-width: 20%;
  }

  .absection .rightpara .rightimg img{
    max-width: 15rem;
    box-shadow: 1rem -1rem 0 0 #fff; 
    position: absolute;
  }

  
  .absection .rightpara .leftimg {
    max-width: 20%;
    position: absolute;
    left: 10rem;
  }

  .absection .rightpara .leftimg img{
    height: 27rem;
    width: 22rem;
  }

    /* ======section timmer====== */
  
    .timmer h4{
      text-align: center;
      font-size: 1.6rem;
      color: #e15b39;
      text-transform: uppercase;
    }
    .timmer .countdown{
      width: 80vw;
      border: 1px solid white;
      display: flex;
      justify-content: space-around;
      gap: 10px;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      margin-top: 10rem;
  }
  
  .timmer .box{
      border: 1px solid orange;
      width: 28vmin;
      height: 28vmin;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      box-shadow: 15px 15px 30px rgba( 0, 0, 0, 0.5);
      font-size: 16px;
  }
  .timmer .box::after{
      content: "";
      position: absolute;
      background-color: rgba(255,255,255,0.12);
      height: 100%;
      width: 50%;
      left: 0;
  }
  .timmer span.num{
      background-color: #202020;
      color: white;
      display: grid;
      height: 100%;
      width: 100%;
      place-items: center;
      font-weight: 600;
      font-size: 5em;
  }
  .timmer span.text{
      font-size: 1.2em;
      background-color: #d35400;
      display: block;
      width: 100%;
      text-align: center;
      padding: 0.5em 0;
      font-weight: 400;
  } 

  /* ===========second section abut=============
  === */
  .absections{
    max-width: 100%;
    margin-top: 9rem;
    margin-bottom: 7rem;
    background-color: #020b29;
  }
  .absections .leftparas p{
    font-size: 1.4rem;
    color: white;
  }
  .absections .leftparas h5{
    font-size: 1.2rem;
    color: red;
    padding: 3rem;
  }
  .absections .leftparas h1{
    font-size: 3.2rem;
    color: white;
    padding: 0 1.5rem 2.5rem 1.5rem;
  }
  .absections .leftparas{
    max-width: 100%;
    text-align: center;
    padding-left: 4rem;
    margin-left: 3rem;
  }
  
  .absections .rightparas{
    display: grid;
    position: relative;
  }
  
  .absections .rightparas .leftimge img{
    width: 30rem;
    height: 35rem;
    /* box-shadow: -2rem 1rem 0 0 white; */
  }

  .absections .rightparas .rightimge img{
    width: 24rem;
    /* box-shadow: -1rem -1rem 0 0 rgb(255, 254, 253); */
  }
  
/* ==============section contact========= */
.common-heading {
  margin-top: 3rem 0 0 0 ;
  font-size: 4.8rem;
  font-weight: 600;
  /* margin-bottom: 6rem; */
  text-transform: capitalize;
  position: relative;
  color: rgb(224, 39, 2);
}

.btn {
  background: #6f7af0;
  padding: 1.6rem 3.2rem;
  margin-bottom: 3rem;
  border: none;
  color: #eaebf7;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover,
.btn:active {
  box-shadow:  0 2rem 2rem 0 rgba(119, 132, 251, 0.3);
}

.section-contact-main {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 5rem;
  transition: all 0.3s linear;
  /* background-color:  #f3f3f9; */
}

.section-contact-main .grid {
  gap: 3rem;
}

.section-contact-main form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section-contact-main input,
.section-contact-main textarea {
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: "work sans";
  width: 100%;
}

.section-contact-main input[type="submit"] {
  max-width: 30%;
  border: none;
}

  /* ========footer-section====== */
  
  .grid {
    display: grid;
    gap: 4rem;
  }

  .container {
    max-width: 100rem;
    margin: 0 auto;
  }

  .section {
    padding: 2rem 0;
  }

  .section-footer {
    background: rgb(0, 10, 45);;
    transition: all 0.7s linear;
  }

  .section-footer h3 {
    color: white;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .f-about p {
    color: #adadad;
  }

  .f-about,
  .f-links,
  .f-address{
    margin-left: 3rem;
  }

  .f-links ul,
  .f-address address,
  .f-services ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-left: 1rem;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
  font-size: 1.9rem;
  color: #adadad;
  text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
  margin-right: 3rem;
}

.f-address p,
.f-address p a {
  font-style: normal;
  color: #adadad;
}

.f-social-icons {
  margin: 5rem 0;
  text-align: center;
}

.f-social-icons .icons {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: #666;
  border-radius: 60%;
  margin-left: 1rem;
}

.f-social-icons .icons:hover{
  color: #ffa502;
  box-shadow: 0 0 15px #d35400;
  text-shadow: 0 0 15px #d35400;
  transition: .8s all ;
}

.f-creadits p {
  text-align: center;
  align-items: center;
  margin-left: 19rem;
  color: #adadad;
}

footer a:hover,
footer a:active {
  color: white;
}

/* ==========scroll to  top========= */
.scroll-top {
  position: fixed;
  bottom: 7.5rem;
  right: 1.5rem;
  z-index: 1000;
}

.scroll-top img {
  width: 8rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  100%,
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3rem);
  }
}

/* =============about this page============== */
.secondab h1{
  font-size: 3.2rem;
  text-align: center;
  color: #01081f;
}

.secondab h3{
  text-align: center;
  margin: 2rem;
  color: #f93504;
}

.secondab p{
  text-align: center;
  max-width: 100%;
  margin: 2rem 4rem 2rem 4rem;
  font-size: 1.2rem;
  color: #f93504;
}

.secondab h4{
  text-align: center;
  font-size: 1.1rem;
  color: #04011f;
}
/* =====mantras====== */
.absectionp .leftmantras h4{
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 2rem 1rem 2rem;
  color: #c22802;
}

.absectionp .rightmantras h4{
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 2rem 1rem 2rem;
  color: rgb(205, 38, 4);
}

/* ============belief us page=========== */
.beliefs h1{
  font-size: 3.2rem;
  text-align: center;
  margin: 5rem 0 1rem 0;
}

.beliefs h5{
  font-size: 1.9rem;
  text-align: center;
  color: rgb(233, 3, 3);
  margin-bottom: 4rem;
}

.belief{
  max-width: 100%;
  margin: 2rem 2rem 5rem 2rem;
}

.belief .bel-main .rightbel{
  text-align: center;
  font-size: 1.3rem;
}

.belief .bel-main .rightbel p{
  max-width: 100%;
}